
<table class="racer_table" >
    <tr id="player1_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Finishing line</td>



    </tr>
    <tr id="player2_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Finishing line</td>


    </tr>
  </table>
  <a id='restart' href='#'>Play Again</a>

<%@p1 = Player.find(@p1_id)%>
<%@p2 = Player.find(@p2_id)%>


<form id="realForm" style="visibility:hidden" action="/won" method="post">
      <input name="winner" type="text">
      <input name="loser" type="text">
      <input name="time" type="text">
      <input name="game" type="text" value="<%=@game_id%>">
  </form>

<script>
  var p1_name ='<%=@p1.name%>';
  var p2_name ='<%=@p2.name%>';
  var p1_id ='<%=@p1.id%>';
  var p2_id ='<%=@p2.id%>';
</script>